<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<head>
  <div th:replace="head"></div>
  <title>Admin Home</title>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Admin Home</h1>
    <h3></h3>
    <div th:replace="admin/admin-nav"></div>
  </div>
  <div class="container text-center">  
    <img class="img-fluid" th:src="@{/img/felipe-furtado-2zDXqgTzEFE-unsplash.jpg}" alt="administration background image">
  </div>
</body>
<script>

</script>
</html>
