<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <!-- Site JavaScript -->
  <script type="module" th:src="@{/js/calendar/calendar.js}" defer></script>
  <script type="module" th:src="@{/js/search-table/patient-search-table.js}" defer></script>
  <script type="module" th:src="@{/js/search-table/doctor-search-table.js}" defer></script>
  <div th:replace="head"></div>
  <title>Admin Manage Calendar</title>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Admin Manage Calendar</h1>
    <div th:replace="admin/admin-nav"></div>
  </div>
  <div class="container text-center">  
    <br>
    <br>
    <br>
    <!-- Patient Search Table -->
    <div th:replace="search-tables/patient-search-table"></div>
    <div id="btn-select-patient" class="btn btn-primary">Select Patient</div>
    <br>
    <br>
    <br>
    <!-- Doctor Search Table -->
    <div th:replace="search-tables/doctor-search-table"></div>
    <div id="btn-select-doctor" class="btn btn-primary">Select Doctor</div>
    <br>
    <br>
    <br>
    <!-- Calendar -->
    <div id="doctor-selected" class="btn btn-danger">Doctor Not Selected</div>
    <div id="patient-selected" class="btn btn-danger">Patient Not Selected</div>
    <br>
    <br>
    <div th:replace="calendar"></div>
  </div>
  <div th:replace="footer"></div>
</body>
<script>

</script>
</html>
