<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<head>
  <div th:replace="head"></div>
  <script type="module" th:src="@{/js/admin-view/admin-search-users.js}" defer></script>
  <title>Search Users</title>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Search Users</h1>
    <h3></h3>
     <div th:replace="admin/admin-nav"></div>
  </div>

	
  <div class="container text-center">
    <h3>How can we help?</h3>
    <br>
    
    <!-- Custom Switch -->
    <div class="custom-control custom-switch">
	<input type="checkbox" class="custom-control-input" id="search-switch" checked>
	<label class="custom-control-label" for="search-switch">Search by Name/Username</label>
</div>

<div id="message"></div>

<div class="table-flow">
	<table id="user-select-table" class="table table-bordered table-striped">
		<thead id="user-select-thead">
			<tr>
				<th>Name</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody id="user-select-tbody">

		</tbody>
		
	</table>
	<div id="user-select-table-buttons">
			<span id="btn-prev" class="btn btn-primary">Prev</span>
			<span id="pageNum" class="pageNum" contenteditable="true"></span>
			<span id="pageTotal" class="pageTotal"></span>
			<span id="btn-go" class="btn btn-primary">Go to page</span>
			<span id="btn-next" class="btn btn-primary">Next</span>
	</div>
</div>

<table id="user-info-table" class="table table-bordered table-striped">
	<thead id="user-info-thead">
		
	</thead>
	<tbody id="user-info-tbody">

	</tbody>
</table>

<table id="user-additional-table" class="table table-bordered table-striped">

	<thead id="user-additional-thead">
		
	</thead>

	<tbody id="user-additional-tbody">
	</tbody>
</table>

<button id="btn-user-info" class="btn btn-primary">
	Get Selected User Info
  </button>


	<div id="radio-buttons">
		<label for="r1">Patient</label>
		<input id="r1" type="radio" name="user-type" value="patient" checked>
		<label for="r2">Doctor</label>
		<input id="r2" type="radio" name="user-type" value="doctor">
		<label for="r3">Admin</label>
		<input id="r3" type="radio" name="user-type" value="admin">
	</div>
	<input id="user-search-input" class="form-control text-center" type="text" placeholder="Please Enter a Name"/>
</div>

<div th:replace="footer"></div>
</body>
</html>
