<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
  <head>
    <div th:replace="head"></div>
	<script type="module" th:src="@{/js/patient-view/patient-dashboard.js}" defer></script>
    <style>
    .btn-space{
    	margin-right: 10px;
    }
    </style>
    <title>Patient Home</title>
  </head>
  <body>
  <!-- Header/Banner -->
    <div class="jumbotron text-center">
      <h1>Welcome Home</h1>
      <h3>Accessible health care at you're convenience</h3>
      
      <!-- Navigation Bar -->
      <div th:replace="patient/patient-nav"></div>

    </div>
    
	<div class="container justify-content-center">

    	<div class="row">
			<!-- Next Appointment -->
	    	<div class="col-sm-6">
				<a th:href="@{/patient/view-appointments}">
					<button type="button" class="btn btn-info dashboard-badge" >
						Appointments <span id="appointments-badge-num" class="badge badge-light">N/A</span>
						<!-- <span class="sr-only">unread messages</span> -->
					</button>
				</a>
	    		
	    	</div>
	    	<!-- Active Prescriptions -->
	    	<div class="col-sm-6"> 
				<a th:href="@{/patient/view-prescriptions}">
					<button type="button" class="btn btn-primary dashboard-badge" >
						Prescriptions <span id="prescriptions-badge-num" class="badge badge-light">N/A</span>
						<!-- <span class="sr-only">unread messages</span> -->
					</button>
				</a>
	    		
	    	</div>
    	</div>
    	
    	<div class="row">
			<!-- Last Message -->
			<div class="col-sm-6"> 
				<a th:href="@{/patient/view-messages}">
					<button type="button" class="btn btn-warning dashboard-badge" >
						Messages <span id="messages-badge-num" class="badge badge-light">5</span>
						<!-- <span class="sr-only">unread messages</span> -->
					</button>
				</a>
			</div>
				
			<!-- Notes -->
			<div class="col-sm-6"> 
				<a th:href="@{/patient/view-medical-notes}">
					<button type="button" class="btn btn-danger dashboard-badge" >
						Medical Notes <span id="medical-notes-badge-num" class="badge badge-light">N/A</span>
						<!-- <span class="sr-only">unread messages</span> -->
					</button>
				</a>
				
			</div>
	    </div>
    	<br><br><br><br><br><br>
	</div>
    
    
	  
  </body>
  
</html>
