<div>
    <!-- Create Appointment -->
    <div id="btn-create-appointment" class="btn btn-primary">Create New Appointment</div>
    <!-- Calendar Popup Message Div -->
    <div id="calendar-message" style="display: none">
    </div>

    <!-- Appointment Popup -->
    <div id="appointment-popup" class="alert alert-info appointment-popup" style="display: none">
        <div id="appointment-popup-close" class="btn-x">X</div>
        <div >Enter Appointment Date and Time</div>
        <br>
        <!-- Date -->
        <label for="appointment-date" >Date</label>
        <input id="appointment-date" type="date" class="form-control">
        <br>
        <!-- Time -->
        <label for="appointment-time" >Time</label>
        <input id="appointment-time" type="time" class="form-control">
        <br>

        <!-- Duration In Minutes -->
        <label for="appointment-duration" >Duration</label>
        <input id="appointment-duration" type="number" min="15" max="60" class="form-control">
        <br>

        <!-- Appointment Type -->
        <label for="appointment-type" >Appointment Type</label>
        <input id="appointment-type" type="text" class="form-control">
        <br>

        <!-- Appointment Info -->
        <label for="appointment-info" >Appointment Information</label>
        <span contenteditable id="appointment-info" type="text" class="editable custom-form-control" data-placeholder="Appointment Information"></span>
        <br>

        <button id="btn-appointment-submit" class="btn btn-primary">Submit</button>

        <button id="btn-appointment-edit" class="btn btn-warning" style="display: none">Edit</button>

        <button id="btn-appointment-submit-changes" class="btn btn-info" style="display: none">Submit Changes</button>

        <button id="btn-appointment-delete" class="btn btn-danger" style="display: none">Delete</button>


    </div>


    <!-- Calendar -->
    <div id="calendar" class="calendar-grid">
        
        <div id="times-container" class="times-container">
            <div id="times" class="times">
                <div>08:00</div>
                <div>09:00</div>
                <div>10:00</div>
                <div>11:00</div>
                <div>12:00</div>
                <div>13:00</div>
                <div>14:00</div>
                <div>15:00</div>
                <div>16:00</div>
                <div>17:00</div>
                <div>18:00</div>
                <div>19:00</div>
                <div>20:00</div>
            </div>
        </div>
        
        <div id="days" class="days">
            <div id="titles-container" class="titles-container">
                <div class="day-title">Monday</div>
                <div class="day-title">Tuesday</div>     
                <div class="day-title">Wednesday</div>     
                <div class="day-title">Thursday</div>     
                <div class="day-title">Friday</div>     
                <div class="day-title">Saturday</div>     
                <div class="day-title">Sunday</div>  
            </div>

            <div id="appointments-underlay" class="appointments-underlay">
                <div id="monday-underlay" class="underlay">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="tuesday-underlay" class="underlay">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="wednesday-underlay" class="underlay">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="thursday-underlay" class="underlay">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="friday-underlay" class="underlay">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="saturday-underlay" class="underlay">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="sunday-underlay" class="underlay">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

            <div id="appointments-container" class="appointments-container">
                <div id="monday-appointments" class="appointments">
                    
                </div>
                <div id="tuesday-appointments" class="appointments">
                    
                </div>
                <div id="wednesday-appointments" class="appointments">
                    
                </div>
                <div id="thursday-appointments" class="appointments">
                    
                </div>
                <div id="friday-appointments" class="appointments">
                    
                </div>
                <div id="saturday-appointments" class="appointments">
                    
                </div>
                <div id="sunday-appointments" class="appointments">
                    
                </div>
            </div>
        

            

            
            
        </div>
        
    </div>

    <div id="calendar-buttons">
        <span id="btn-calendar-week-prev" class="btn btn-primary">Prev</span>
        <span id="weekNum" class="pageNum" contenteditable="true"></span>
        <span id="weekTotal" class="pageTotal">52</span>
        <span id="btn-calendar-week-go" class="btn btn-primary">Go to page</span>
        <span id="btn-calendar-week-next" class="btn btn-primary">Next</span>
    </div>
</div>