<div id="footer" class="footer">
    <div>
        <img style="height: 250px;" th:src="@{/img/healthcare.png}"/>
    </div>
    <div class="footer-text">
        <p><a href="https://www.flaticon.com/free-icons/health" title="health icons">Health icons created by Freepik - Flaticon</a></p>
        <p><a th:href="@{/about}">About the site - What we do</a></p>
        <p><a>Terms of Service</a></p>
        <p><a>Privacy Policy</a></p>
        <p><a>Support Centre</a></p>


    </div>
    <div></div>
    <div></div>
</div>