<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!--FontAwesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Doctor Home</title>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Doctor Home</h1>
    <h3>Helping you, help others...</h3>
   <div th:replace="doctor/doctor-nav"></div>
	</div>
	 <!-- Content div -->
    <div class="container col-sm-9" ><!-- style="background-color:grey;" -->
    	<div th:replace="calendar"></div>
	</div>

</body>
<script>

</script>
</html>
