<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<head>
  <div th:replace="head"></div>
  <title>Doctor Home</title>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Doctor Home</h1>
    <h3>Helping you, help others...</h3>
   <div th:replace="doctor/doctor-nav"></div>
	</div>
	 <!-- Content div -->
    <div class="container col-sm-9" ><!-- style="background-color:grey;" -->
      <script type="module" th:src="@{/js/doctor-view/doctor-calendar.js}" defer></script>
    	<div th:replace="calendar"></div>
	</div>
  <div th:replace="footer"></div>
</body>
<script>

</script>
</html>
