<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <script type="module" th:src="@{/js/doctor-view/doctor-view-patient-details.js}" defer></script>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!--FontAwesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Doctor Home</title>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Doctor Home</h1>
    <h3>It's all about the individual</h3>
    <div th:replace="doctor/doctor-nav"></div>
    
  </div>

	 <!-- Content div -->
    <div class="container col-sm-10" ><!-- style="background-color:grey;" -->
	<!-- Model - For ViewingPrescriptions -->
    	<div id="presModal" class="modal fade" role="dialog">
    		<div class="modal-dialog">
    			<!-- Modal Content  -->
    			<div class="modal-content">
    				<div class="modal-header">
    					<h4 class="modal-title">Notices</h4>
    					<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" style="color:red;" aria-hidden="true"></i></button>
    				</div>
    				<div class="modal-body">
    					<h5 id="presModal-subTitle"></h5>
    					<p id="presModal-body"></p>
    				</div>
    			</div>
    		</div>
    		
    	</div>
    	
    	<br>
   
   
	    <input id="patient-searchbar" class="form-control" type="text" placeholder="Search Patients...">
	    <table id="patient-search-table" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th colspan="2">Patients</th>
				</tr>
			</thead>
			<tbody id="patient-search-table-body">
			<!-- Fill via ajax method -->
			</tbody>
	    </table>
				<div id="paging-buttons">
					<span id="btn-prev" class="btn btn-primary">Prev</span>
					<span id="p-pageNum" class="pageNum" contenteditable="true"></span>
					<span id="p-pageTotal" class="pageTotal"></span>
					<span id="btn-go" class="btn btn-primary">Go to page</span>
					<span id="btn-next" class="btn btn-primary">Next</span>
				</div>
				<br>
				<div id="btn-view-patient" class="btn btn-primary">View Patient</div>
				<br>
				<br>
    	<div class="row">
			
			<div id="message" class="popup" style="display: none;"></div>
			<div id="info-popup" class="alert alert-info popup" style="display: none;">
				<div id="btn-info-popup-close" ></div>
			</div>

			
			<!-- Prescriptions  -->
			<div class="col-sm-4"> 
				<!-- For displaying error messages -->
				<div id="message-prescriptions" class="popup" style="display: none;">
					
				</div>

				<!-- For displaying prescription information -->
				<div id="info-popup-prescriptions" class="alert alert-info popup" style="display: none;">
					
				</div>

				<div id="btn-add-prescription" class="btn btn-primary"> Add Prescription</div>
				<!-- Table -->
				<table class="table table-bordered table-striped info-table">
					<thead>
						<tr>
							<th colspan="2">Prescriptions</th>
						</tr>
					</thead>
					<tbody id="patient-prescription-tbody">
						<tr>
							<td>N/A</td>
						</tr>
					<!-- Fill via ajax method -->
					</tbody>
				</table>
				<div id="btn-view-prescription" class="btn btn-primary">View Prescription</div>

				<!-- Prescription Pop up form -->
				<div id="prescription-div" class="popup-form" style="display: none;">
					<form id="prescription-form">
						<label for="medication-name">Medication Name</label>
						<span id="medication-name" contenteditable="true"  class="editable" data-placeholder="Enter Medication Name"></span>
						<label for="directions">Directions</label>
						<span id="directions" contenteditable="true"  class="editable" data-placeholder="Enter Directions"></span>
					</form>
					<div id="prescription-form-submit" class="btn btn-primary">Submit</div>
					<div id="prescription-form-close" class="btn btn-danger">Close</div>
				</div>
			</div>
		
			<!-- Notes -->
			<div class="col-sm-4">
				<!-- For displaying error messages -->
				<div id="message-medical-notes" class="popup" style="display: none;">
					<div id="message-medical-notes-close">X</div>
				</div>

				<!-- For displaying medical note information -->
				<div id="info-popup-medical-notes" class="alert alert-info popup" style="display: none;">
					
				</div>


				<div id="btn-add-note" class="btn btn-primary"> Add Medical Note</div>
				<!-- Table -->
				<table class="table table-bordered table-striped info-table">
					<thead>
						<tr>
							<th colspan="2">Doctor Medical Notes</th>
						</tr>
					</thead>
					<tbody id="patient-medical-notes-tbody">
						<!-- Fill via ajax method -->
						<tr>
							<td>N/A</td>
						</tr>
					</tbody>
				</table>
				<div id="btn-view-medical-note" class="btn btn-primary">View Medical Note</div>

				<!-- Note Popup Form -->
				<div id="note-div" class="popup-form" style="display: none;">
					<form id="note-form">
						<label for="note-heading">Note Heading</label>
						<span id="note-heading" contenteditable="true"  class="editable" data-placeholder="Enter Note Title"></span>
						<label for="note-body">Note Body</label>
						<span id="note-body" contenteditable="true"  class="editable" data-placeholder="Enter Note Body"></span>
					</form>
					<div id="note-form-submit" class="btn btn-primary">Submit</div>
					<div id="note-form-close" class="btn btn-danger">Close</div>
				</div>
			</div>
				
			<!-- Appointment Requests -->
			<div class="col-sm-4"> 
				<!-- For displaying error messages -->
				<div id="message-appointment-requests" class="popup" style="display: none;">
					<span id="message-appointment-requests-close">X</span>
				</div>

				<!-- For displaying appointment request information -->
				<div id="info-popup-appointment-requests" class="alert alert-info popup" style="display: none;">
					<div id="btn-info-popup-appointment-requests-close" >X</div>
				</div>
				<!-- Table -->
				<div id="btn-add-request" class="btn btn-primary">Add Appointment Request</div>
				<table id="appointment-request-table" class="table table-bordered table-striped info-table">
					<thead>
						<tr>
							<th colspan="2">Appointment Requests</th>
						</tr>
					</thead>
					<tbody id="appointment-request-tbody">
						<!-- Fill via ajax method -->
						<tr>
							<td>N/A</td>
						</tr>
					</tbody>
				</table>
				<div id="btn-view-appointment-request" class="btn btn-primary">View Request</div>

				<!-- Request Popup Form -->
				<div id="appointment-request-div" class="popup-form" style="display: none;">
					<form id="appointment-request-form">
						<label for="appointment-type">Appointment Type</label>
						<span id="appointment-type" contenteditable="true"  class="editable" data-placeholder="e.g. Checkup"></span>
						<label for="appointment-info">Info</label>
						<span id="appointment-info" contenteditable="true"  class="editable" data-placeholder="e.g. Would like to schedule a routine checkup for hearing"></span>
					</form>
					<div id="appointment-request-form-submit" class="btn btn-primary">Submit</div>
					<div id="appointment-request-form-close" class="btn btn-danger">Close</div>
				</div>
			</div>
			
		</div>
			<br><br><br><br><br><br>
	</div>

</body>

</html>
