<input id="patient-searchbar" class="form-control" type="text" placeholder="Search Patients...">
	    <table id="patient-search-table" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th colspan="1">Patients Name</th>
					<th colspan="1">Patients Username</th>
				</tr>
			</thead>
			<tbody id="patient-search-tbody">
			<!-- Fill via ajax method -->
			</tbody>
	    </table>
				<div id="paging-buttons">
					<span id="btn-prev" class="btn btn-primary">Prev</span>
					<span id="p-pageNum" class="pageNum" contenteditable="true"></span>
					<span id="p-pageTotal" class="pageTotal"></span>
					<span id="btn-go" class="btn btn-primary">Go to page</span>
					<span id="btn-next" class="btn btn-primary">Next</span>
				</div>
				<br>