$light-blue:#86dcff;
$light-red:#fad6bb;
$yellow:#fdfc8a;
$tomato:#f05c35;
$btn-blue: rgb(41,120,237);
$cool-grey: rgb(53,58,63);


.highlight {
    background-color:$light-blue;
}

.highlight-red {
    background-color:$light-red;
}

.highlight-yellow{
    background-color:$yellow;
}

/* Done this way (double statement) to override bootstrap while hovering
 * on tables with this class
 */
.highlight-table-body-row.highlight-table-body-row tr:hover {
    background-color:$light-blue;
}

.highlight-red-table-body-row.highlight-red-table-body-row tr:hover {
    background-color: $light-red;
}

.hr-divider {
    border: 1px solid #9ca9a9;
    border-radius: 5px;
}

.bar-space{
    margin-right: 30px;
    margin-left:30px;
    margin-bottom:5px;
}

.btn-width{
    width:20%;
}

.btn-space {
    margin-right:30px;
    margin-bottom:5px;
}

.btn-space-left {
    margin-left: 30px;
    margin-bottom:5px;
}

/* Note: using Table Flow as alternative to Bootstrap table-responsive, 
 * which doesn't work well in some situations
 * Apply table-flow to div outside desired table*/
.table-flow { 
    overflow-x:auto;
}

.pageNum {
    border: solid $btn-blue;
    padding: 5px 15px;
    margin-left: 10px;
    margin-right: 0px;
}

.pageTotal {
    border: solid $btn-blue;
    background-color: $btn-blue;
    color:white;
    padding: 5px 15px;
    margin-left: 0px;
    margin-right: 10px;
}

.popup-form {
    margin: auto;
    padding: 20px;
    z-index: 1;
    width: 300px;
    height: 300px;
    background-color: $light-blue;
    position: absolute;
    top: 15%;
    left: 15%;
}

.popup {
    position: absolute !important;
    left: 30%;
    z-index: 1;
}

.field {
    padding: 5px;
    background-color: white;
}

.editable {
    padding: 5px;
    background-color: white;
    white-space: pre-wrap;
    word-wrap: normal;
    display: block;
}

.editable:empty:before {
    content: attr(data-placeholder);
    color: rgb(109, 109, 109);
}

.btn-x {
    background-color: $tomato;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 80%;
}

.info-table tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

.info-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}



// grid sizing for calendar rows
$row1-size: 10%;
$row2-size: 90%;
$div-height: 50px;

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 800px;
}

.times-container {
    display: grid;
    grid-template-rows: $row1-size $row2-size;
}

.times-container div {
    height: $div-height;
    text-align: center;
    justify-content: center;
}

.times-container div:nth-child(even) {
    background-color: $light-blue;
}

.times {
    grid-column: 1;
    grid-row: 2;
}

.days {
    grid-column: 2;
    display: grid;
    grid-template-rows: $row1-size $row2-size;
}

.titles-container {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.appointments-container {
    z-index: 1;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.appointments-container > * {
    opacity: 0.5;
}

.appointments-underlay {
    z-index: 0;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}
// .appointment[data-position] {
//     position: relative;
//     top: attr(data-position px);
// }

.appointments {
    // outline left and right of a div - for day distinction
    box-shadow: -2px 0px 0px 0px black, 2px 0px 0px 0px black;
}

.single-appointment {
    position: relative;
    background-color: $light-red;
    overflow: hidden;
    text-overflow: ellipsis;
}


.day-title {

}

.underlay div {
    height: $div-height;
}

.underlay div:nth-child(even) {
    background-color: $light-blue;
}


// .appointments {
//     display: grid;
//     //12 rows for each hour the surgery is open
//     grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
// }


// Popup appointment table
.appointment-popup {
    position: absolute;
    left: 40%;
    width: 300px;
    height: 550px;
    background-color: $cool-grey;
    z-index: 2;
}

#appointment-info {
    height: 100px;
    resize: both;
}