$light-blue:#86dcff;
$light-red:#fad6bb;
$yellow:#fdfc8a;
$tomato:#f05c35;
$btn-blue: rgb(41,120,237);
$cool-grey: rgb(53,58,63);
$blue-grey: #7da1b3;
$disable-input-grey: rgb(233,236,239);
$footer-height: 250px;
.disabled {
    background-color:$disable-input-grey !important;
}
.highlight {
    background-color:$light-blue;
}

.highlight-red {
    background-color:$light-red;
}

.highlight-yellow {
    background-color:$yellow;
}

/* Done this way (double statement) to override bootstrap while hovering
 * on tables with this class
 */
.highlight-table-body-row.highlight-table-body-row tr:hover {
    background-color:$light-blue;
}

.highlight-red-table-body-row.highlight-red-table-body-row tr:hover {
    background-color: $light-red;
}

.hr-divider {
    border: 1px solid #9ca9a9;
    border-radius: 5px;
}

.bar-space {
    margin-right: 30px;
    margin-left:30px;
    margin-bottom:5px;
}

.btn-width {
    width:20%;
}

.btn-space {
    margin-right:30px;
    margin-bottom:5px;
}

.btn-space-left {
    margin-left: 30px;
    margin-bottom:5px;
}

.dashboard-badge {
    height: 200px;
    width: 300px;
    margin-bottom: 50px;
    margin-right: 50px;
    font-size: x-large !important;
}

.dashboard-badge span {
    font-size: x-large;
}


/* Note: using Table Flow as alternative to Bootstrap table-responsive, 
 * which doesn't work well in some situations
 * Apply table-flow to div outside desired table*/
.table-flow { 
    overflow-x:auto;
}

.pageNum {
    border: solid $btn-blue;
    padding: 5px 15px;
    margin-left: 10px;
    margin-right: 0px;
}

.pageTotal {
    border: solid $btn-blue;
    background-color: $btn-blue;
    color:white;
    padding: 5px 15px;
    margin-left: 0px;
    margin-right: 10px;
}

.popup-form {
    margin: auto;
    padding: 20px;
    z-index: 1;
    width: 500px;
    min-height: 500px;
    overflow-y: scroll;
    background-color: $light-blue;
    position: absolute;
    top: 15%;
    left: 15%;
}

.popup {
    position: absolute !important;
    left: 30%;
    z-index: 1;
}

.field {
    padding: 5px;
    background-color: white;
}

.editable {
    padding: 5px;
    background-color: white;
    white-space: pre-wrap;
    word-wrap: normal;
    display: block;
}

.editable:empty:before {
    content: attr(data-placeholder);
    color: rgb(109, 109, 109);
}

.btn-x {
    background-color: $tomato;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 90%;
    margin-bottom:5px;
    padding-bottom:9%;
}

.info-table tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

.info-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}





$row1-size: 10%;//width for times container
$row2-size: 90%;//width for appointments container
$div-height: 50px;

.grid {
    display: grid;
    grid-template-columns: [times-container]20% [appointments-container]80%;
    height: 800px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    // height: 800px;
    height:720px;
}

.times-container {
    display: grid;
    grid-template-rows: $row1-size $row2-size;
}

.times div {
    height: $div-height;
    text-align: center;
    justify-content: center;
    padding-top:10px;
}

.times div:nth-child(even) {
    background-color: $blue-grey;
}

.times {
    grid-column: 1;
    grid-row: 2;
}

.days {
    grid-column: 2;
    display: grid;
    grid-template-rows: $row1-size $row2-size;
}

.titles-container {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.appointments-container {
    z-index: 1;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.appointments-container > * {
    opacity: 0.5;
}

.appointments-underlay {
    z-index: 0;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

// .appointment[data-position] {
//     position: relative;
//     top: attr(data-position px);
// }

.appointments {
    // outline left and right of a div - for day distinction
    box-shadow: -2px 0px 0px 0px black, 2px 0px 0px 0px black;
}

.single-appointment {
    position: relative;
    background-color: $light-red;
    overflow: hidden;
    text-overflow: ellipsis;
}


.day-title {
    text-align: center;
}

.underlay div {
    height: $div-height;
}

.underlay div:nth-child(even) {
    background-color: $blue-grey;
}


// .appointments {
//     display: grid;
//     //12 rows for each hour the surgery is open
//     grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
// }


// Popup appointment table
.appointment-popup {
    position: absolute !important; //override bootstrap
    left: 40%;
    width: 300px;
    min-height: 650px;
    // background-color: $cool-grey;
    z-index: 2;

}

// Popup appointment table
.appointment-popup-short {
    position: absolute !important; //override bootstrap
    left: 40%;
    width: 300px;
    height: 400px;
    // background-color: $cool-grey;
    z-index: 2;
}


#appointment-info {
    min-height: 100px;
    resize: both;
}

.custom-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-wrap: wrap;
    word-wrap:break-word;
}
// Patient Medical Notes Page
.medical-notes-grid {
    display: grid;
    grid-template-columns: 30% 70%;
}

.medical-notes-col1 {
    grid-column: 1;
}

.medical-notes-col2 {
    grid-column: 2;

}
.medical-note-display {
    height: 300px;
    margin-left: 50px;
}

.medical-note-heading {

}

.medical-note-body {
    margin-top: 20px;
    min-height: 200px;
    overflow-y: scroll;
}

.text-body {
    height: 100px;
}

.footer {
    height: $footer-height;
    margin-top: 200px;
    background-color: $cool-grey;//think it's the same as the colour I would like #343a40;
    display:grid;
    // grid-template-rows: auto;//auto set's it based on content size, not enclosing div size
    grid-template-rows: 250px;
    grid-template-columns: [Logo]auto [Site Links]auto [Awards]auto [Awards]auto;
}
.footer-text {
    color:white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-text a:link {
    color:white;
}
.footer-text a:hover {
    color:white;
}
.footer-text a:visited {
    color: pink;
}
.footer-img {
    height: $footer-height;
}